@import 'font-icons'
@import 'nib'

body
    font-family helvetica

header
    background-color #8156a3
    color #ffffff
    box-shadow 0 0 9px rgba(0, 0, 0, 0.6)

    .header-wrap
        display -webkit-box
        display -webkit-flex
        display flex

    .user
        display -webkit-box
        display -webkit-flex
        display flex
        width 55%

        .icon-user
            margin-right 5px

        .status
            color rgba(255, 255, 255, 0.6)

    .bookmark, .edit, .settings
        width 15%
        text-align center

    .icon-star
        color rgba(0, 0, 0, 0.2)

    [class^="icon-"]
        padding 5px 0
        font-size 30px

.profile
    overflow hidden
    height 200px

    img
        max-width 100%

.chat
    margin 0 auto
    text-align center

    profile
        img
            width 100%

        

.counter-video
    display none
    width 100%

    &.on
        display block

.message
    margin 0 auto

    .message-list
        height 100px
        overflow auto
        padding 5px 20px 5px 5px
        background #f8f8f8
        color #333333
        border 1px solid #cccccc
        border-radius 3px
        text-align left

        li
            margin 0
            padding 0
            list-style none
            line-height 1.4

            &.me
                &:before
                    content "you: "

            &.lyn
                &:before
                    content "lyn: "

    .input-form

        textarea
            resize none
            margin-right 20px
            border-radius 3px

.button-success,
.button-error,
.button-warning,
.button-secondary,
.button-viber
    color white
    border-radius 4px
    text-shadow 0 1px 1px rgba(0, 0, 0, 0.2)

.button-success
    background rgb(28, 184, 65) /* this is a green */

.button-error
    background rgb(202, 60, 60) /* this is a maroon */

.button-warning
    background rgb(223, 117, 20) /* this is an orange */

.button-secondary
    background rgb(66, 184, 221) /* this is a light blue */

.button-viber
    width 44%
    margin 0 2.5%
    padding 10px 0
    background #8156a3 /* this is a viber service color */
    border-radius 0
    font-size 14px

.operation
    margin-top 10px

    .out
        margin-top 25px

    h3
        margin 0 4% 8px
        font-size 12px
        color #8156a3
        text-align left
        border-bottom 1px solid #8156a3

    .number-wrap
        display flex
        margin 0 5%

        > *
            flex 1

        .number
            text-align left

        .button-wrap
            text-align right

        .button-out
            padding 2px 5px
            border 1px solid #8156a3
            font-size 11px
            font-weight bold
            color #8156a3